<launch>
  <node
    pkg="perception"
    type="webcam_pub.py"
    name="webcam_pub"
    output="screen"
  />
  <node
    pkg="perception"
    type="workspace_feature_detection.py"
    name="workspace_feature_detection"
    output="screen"
  />
  <node
    pkg="trajectory_generation"
    type="robot_trajectory_generation.py"
    name="robot_trajectory_generation"
    output="screen"
  />
  <node
    pkg="control"
    type="mission_control.py"
    name="mission_control"
    output="screen"
  />
  <node
    pkg="control"
    type="IKService.py"
    name="ik_service"
    output="screen"
  />
  <node
    pkg="control"
    type="FKService.py"
    name="fk_service"
    output="screen"
  />
  <node pkg="control" type="PIDService1.py" name="pid_service1" output="screen" />
  <node pkg="control" type="PIDService2.py" name="pid_service2" output="screen" /> 

  <node
    pkg="motor"
    type="motor_read_write.py"
    name="read_write_py_node"
    output="screen"
  /> 
</launch>