<launch>
  <node name="joint1_pos_pid_service" pkg="control" type="PIDService.py">
    <remap from="pid_set_gains" to="joint1_pos_pid_set_gains"/>
    <remap from="pid_set_output_limits" to="joint1_pos_pid_set_output_limits"/>
    <remap from="pid_compute" to="joint1_pos_pid_compute"/>
  </node>
  <node name="joint2_pos_pid_service" pkg="control" type="PIDService.py">
    <remap from="pid_set_gains" to="joint2_pos_pid_set_gains"/>
    <remap from="pid_set_output_limits" to="joint2_pos_pid_set_output_limits"/>
    <remap from="pid_compute" to="joint2_pos_pid_compute"/>
  </node>
  <node name="joint3_pos_pid_service" pkg="control" type="PIDService.py">
    <remap from="pid_set_gains" to="joint3_pos_pid_set_gains"/>
    <remap from="pid_set_output_limits" to="joint3_pos_pid_set_output_limits"/>
    <remap from="pid_compute" to="joint3_pos_pid_compute"/>
  </node>
  <node name="joint1_vel_pid_service" pkg="control" type="PIDService.py">
    <remap from="pid_set_gains" to="joint1_vel_pid_set_gains"/>
    <remap from="pid_set_output_limits" to="joint1_vel_pid_set_output_limits"/>
    <remap from="pid_compute" to="joint1_vel_pid_compute"/>
  </node>
  <node name="joint2_vel_pid_service" pkg="control" type="PIDService.py">
    <remap from="pid_set_gains" to="joint2_vel_pid_set_gains"/>
    <remap from="pid_set_output_limits" to="joint2_vel_pid_set_output_limits"/>
    <remap from="pid_compute" to="joint2_vel_pid_compute"/>
  </node>
  <node name="joint3_vel_pid_service" pkg="control" type="PIDService.py">
    <remap from="pid_set_gains" to="joint3_vel_pid_set_gains"/>
    <remap from="pid_set_output_limits" to="joint3_vel_pid_set_output_limits"/>
    <remap from="pid_compute" to="joint3_vel_pid_compute"/>
  </node>
  <node
    pkg="control"
    type="motor_tuning.py"
    name="motor_tuning"
    output="screen"
  />
  <node
    pkg="motor"
    type="motor_read_write.py"
    name="read_write_py_node"
    output="screen"
  /> 
</launch>